/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    scroll-behavior: smooth;
  }
  

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.perfil{
    border-radius: 50%;
}

.contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    color: aliceblue;
    background-color: #800080;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: aliceblue;
    font-size: 38px;
    text-align: center;
}
h2.titulo span{
    color: #800080;
}

button:hover, form .enviar input:hover{
    box-shadow: 0px 0px 8px #800080;
    transform: scale(1.05);
}

/* ESTILO DO CABEÇALHO */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover{
    color: aliceblue;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO DO MENU MOBILE */
.abrir-menu i{
    color: #800080;
    font-size: 40px;
}

.menu-mobile{
    background-color: black;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .4s;
}

.menu-mobile.open-menu{
    width: 70%;
}

.menu-mobile.open-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .fechar{
    padding: 20px 5%;
}

.menu-mobile .fechar i {
    color: #800080;
    font-size: 30px;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: aliceblue;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #800080;
    color: #000;
}

.overlay-menu{
    background-color: #000000a7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 88888;
    display: none;
}

.abrir-menu{
    display: none;
}


/* ESTILO DO TOPO DO SITE */
section.topo-do-site{
    padding: 40px 4%;
}
section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.txt-topo-site h1{
    color: aliceblue;
    font-size: 34px;
    line-height: 40px;
}
.txt-topo-site h1 span{
    color: #ad00ad;
    font-size: 34px;
    line-height: 40px;
}
.txt-topo-site p{
    color: aliceblue;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */
section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: aliceblue;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(240, 248, 255, 0.349);
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #800080;
}
.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

section.sobre{
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: aliceblue;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #800080;
    display: block;
}

.sobre .txt-sobre p{
    margin: 15px 0;
    text-align: justify;
    font-size: 16px;
}

.social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #800080;
    font-size: 22px;
    color: aliceblue;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* ESTILO DO FORMULÁRIO DE CONTATO */
section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    resize: none;
    height: 180px;
}

form .enviar{
    margin-top: 20px;
    text-align: center;
}

form .enviar input{
    width: 120px;
    background-color: #800080;
    color: aliceblue;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

footer .line-footer p a{
    color: aliceblue;
}
footer .line-footer p i{
    color: #800080;
}

.borda{
    border-top: 2px solid #800080;
}

@media screen and (max-width: 1020px){
    /* CLASSES GERAIS */
    .flex{
        flex-direction: column;
    }

    h2.titulo{
        font-size: 30px;
        line-height: 34px;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }


    /* CABEÇALHO */
    .menu-desktop, .contato{
        display: none;
    }
    
    .abrir-menu{
        display: block;
    }

    /* TOPO DO SITE */
    section.topo-do-site .flex{
        gap: 40px;
    }

    section.topo-do-site{
        padding: 20px 8%;
    }

    .topo-do-site h1{
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img{
        width: 100%;
    }

    /* ESTILO DAS ESPECIALIDADES */
    section.especialidades{
        padding: 40px 8%;
    }

    /* SOBRE */
    section.sobre{
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .social{
        text-align: center;
    }
    
    /* RODAPÉ */
    footer .flex{
        flex-direction: column;
    }

    footer .line-footer{
        text-align: center;
    }
}